.container{
    margin:20px;
    padding:10px;
    background-color: yellowgreen;
    border-radius:5px;
    box-shadow:0px 0px 0px 0px rgba(0,0,0,0.75);
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:blueviolet
}
h2{
    font-size: 50px;
}
.input-group{
    margin-bottom:15px;
}
label{
    display:block;
    margin-bottom:9px;
    font-size: 25px;
    font-weight:bold;
}