/* You can add global styles to this file, and also import other style files */
body{
    padding:20px;
    background-colour:yellow;
    position:relative;
    transition:all 0.3 ease-in-out;
}
.lightMode{
    background-colour:skyblue;
    color:black;
}
.darkMode {
    background-colour:darkgray;
    color:white;
}
.box{
    width:40%;
    margin:0 auto;
    box-shadow:0 15px 25px rgba(0,0,0,0.5);
    padding: 30px;
    border-radius:9px;
    transition:all .1s ease;
    margin-bottom:0 auto;
    text-align:center;
    text-decoration:none;
    display:block;

}